<section class="section">
  <section class="section__hero">
    <section class="hero__typography center">
      <h2>Two Line Long Example</h2>
      <p>
        Poster can be one of the effective marketing and advertising materials.
        It is also a great tool to use when you want to present your.
      </p>
    </section>

    <section class="hero__newsletter center">
      <form action="" class="newsletter__form">
        <input type="email" placeholder="Email" class="form-input" />
        <button class="sub-button">Subscribe</button>
      </form>
      <p>No spam, notification only about new products, updates and freebies</p>
    </section>

    <figure class="hero__figure">
      <img
        src="../../../assets/iphonex218x432.png"
        alt="iPhoneX"
        height="432"
        width="218"
      />
      <figcaption class="offscreen">An Iphone X</figcaption>
    </figure>

    <h3 class="hero__bottom center">
      Like rock stars, asteroids have been given their fair share of urban myth
      and lore. Many have attributed the extinction of the dinosaurs to the
      impact of a huge asteroid on the earth.
    </h3>
  </section>
  <div class="border"></div>
  <!-- END OF HERO -->

  <article class="section__article xl-max-width">
    <section class="article__info">
      <figure>
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z"
            fill="#DBDBDB"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 20.0553L20.944 23L19.632 17.45L24 13.7158L18.248 13.2342L16 8L13.752 13.2342L8 13.7158L12.368 17.45L11.056 23L16 20.0553Z"
            fill="#969696"
          />
        </svg>
      </figure>
      <h4>Heading</h4>
      <p>
        You will likely be required to install the fixed mounts. These are what
        will keep the apparatus stable and secure with your computer monitor in
        it. Follow directions carefully so that you can be sure to get
        everything.
      </p>
      <a href=""><h5>Learn More</h5></a>
    </section>
    <!--  -->
    <section class="article__info">
      <figure>
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z"
            fill="#DBDBDB"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 20.0553L20.944 23L19.632 17.45L24 13.7158L18.248 13.2342L16 8L13.752 13.2342L8 13.7158L12.368 17.45L11.056 23L16 20.0553Z"
            fill="#969696"
          />
        </svg>
      </figure>
      <h4>Heading</h4>
      <p>
        You will likely be required to install the fixed mounts. These are what
        will keep the apparatus stable and secure with your computer monitor in
        it. Follow directions carefully so that you can be sure to get
        everything.
      </p>
      <a href=""><h5>Learn More</h5></a>
    </section>
    <!--  -->
    <section class="article__info">
      <figure>
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z"
            fill="#DBDBDB"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 20.0553L20.944 23L19.632 17.45L24 13.7158L18.248 13.2342L16 8L13.752 13.2342L8 13.7158L12.368 17.45L11.056 23L16 20.0553Z"
            fill="#969696"
          />
        </svg>
      </figure>
      <h4>Heading</h4>
      <p>
        You will likely be required to install the fixed mounts. These are what
        will keep the apparatus stable and secure with your computer monitor in
        it. Follow directions carefully so that you can be sure to get
        everything.
      </p>
      <a href=""><h5>Learn More</h5></a>
    </section>
  </article>
  <div class="border"></div>
  <!-- End of Article -->

  <section class="section__data">
    <section class="data__typography">
      <h2>23.4K</h2>
      <p>Active Merchant</p>
    </section>

    <section class="data__typography">
      <h2>$3.4K</h2>
      <p>Revenues in 2019</p>
    </section>

    <section class="data__typography">
      <h2>873K</h2>
      <p>Download</p>
    </section>

    <section class="data__typography">
      <h2>87+</h2>
      <p>Countries</p>
    </section>

    <section class="data__typography">
      <h2>$58</h2>
      <p>Revenues Per Hour</p>
    </section>
  </section>
  <div class="border"></div>
  <!-- END OF DATA -->

  <section class="section__steps center">
    <h2>Heading</h2>
    <p class="steps__text">
      Poster can be one of the effective marketing and advertising materials.
    </p>

    <section class="steps__info">
      <figure>
        <svg
          width="96"
          height="96"
          viewBox="0 0 96 96"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M48 96C74.5097 96 96 74.5097 96 48C96 21.4903 74.5097 0 48 0C21.4903 0 0 21.4903 0 48C0 74.5097 21.4903 96 48 96Z"
            fill="#DBDBDB"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M48 52.0553L52.944 55L51.632 49.45L56 45.7158L50.248 45.2342L48 40L45.752 45.2342L40 45.7158L44.368 49.45L43.056 55L48 52.0553Z"
            fill="#969696"
          />
        </svg>
      </figure>
      <h3>Step 1</h3>
      <p>
        Third you will likely be required to install the fixed mounts. These are
        what will keep the apparatus.
      </p>
    </section>

    <figure>
      <svg
        width="48"
        height="48"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M21.9999 10V32.34L12.2399 22.58C11.4599 21.8 10.1799 21.8 9.39994 22.58C8.61994 23.36 8.61994 24.62 9.39994 25.4L22.5799 38.58C23.3599 39.36 24.6199 39.36 25.3999 38.58L38.5799 25.4C39.3599 24.62 39.3599 23.36 38.5799 22.58C37.7999 21.8 36.5399 21.8 35.7599 22.58L25.9999 32.34V10C25.9999 8.9 25.0999 8 23.9999 8C22.8999 8 21.9999 8.9 21.9999 10Z"
          fill="#969696"
        />
      </svg>
    </figure>

    <section class="steps__info">
      <figure>
        <svg
          width="96"
          height="96"
          viewBox="0 0 96 96"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M48 96C74.5097 96 96 74.5097 96 48C96 21.4903 74.5097 0 48 0C21.4903 0 0 21.4903 0 48C0 74.5097 21.4903 96 48 96Z"
            fill="#DBDBDB"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M48 52.0553L52.944 55L51.632 49.45L56 45.7158L50.248 45.2342L48 40L45.752 45.2342L40 45.7158L44.368 49.45L43.056 55L48 52.0553Z"
            fill="#969696"
          />
        </svg>
      </figure>
      <h3>Step 2</h3>
      <p>
        Third you will likely be required to install the fixed mounts. These are
        what will keep the apparatus.
      </p>
    </section>

    <figure>
      <svg
        width="48"
        height="48"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M21.9999 10V32.34L12.2399 22.58C11.4599 21.8 10.1799 21.8 9.39994 22.58C8.61994 23.36 8.61994 24.62 9.39994 25.4L22.5799 38.58C23.3599 39.36 24.6199 39.36 25.3999 38.58L38.5799 25.4C39.3599 24.62 39.3599 23.36 38.5799 22.58C37.7999 21.8 36.5399 21.8 35.7599 22.58L25.9999 32.34V10C25.9999 8.9 25.0999 8 23.9999 8C22.8999 8 21.9999 8.9 21.9999 10Z"
          fill="#969696"
        />
      </svg>
    </figure>

    <section class="steps__info">
      <figure>
        <svg
          width="96"
          height="96"
          viewBox="0 0 96 96"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M48 96C74.5097 96 96 74.5097 96 48C96 21.4903 74.5097 0 48 0C21.4903 0 0 21.4903 0 48C0 74.5097 21.4903 96 48 96Z"
            fill="#DBDBDB"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M48 52.0553L52.944 55L51.632 49.45L56 45.7158L50.248 45.2342L48 40L45.752 45.2342L40 45.7158L44.368 49.45L43.056 55L48 52.0553Z"
            fill="#969696"
          />
        </svg>
      </figure>
      <h3>Step 3</h3>
      <p>
        Third you will likely be required to install the fixed mounts. These are
        what will keep the apparatus.
      </p>
    </section>
  </section>
  <div class="border"></div>
  <!-- END OF STEPS -->

  <section class="section__sub-info xl-max-width">
    <section class="sub-info__typography">
      <figure>
        <svg
          width="96"
          height="96"
          viewBox="0 0 96 96"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M48 96C74.5097 96 96 74.5097 96 48C96 21.4903 74.5097 0 48 0C21.4903 0 0 21.4903 0 48C0 74.5097 21.4903 96 48 96Z"
            fill="#DBDBDB"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M48 52.0553L52.944 55L51.632 49.45L56 45.7158L50.248 45.2342L48 40L45.752 45.2342L40 45.7158L44.368 49.45L43.056 55L48 52.0553Z"
            fill="#969696"
          />
        </svg>
      </figure>
      <h2>Heading</h2>
      <p>
        The beauty of astronomy is that anybody can do it. From the tiniest baby
        to the most advanced astrophysicist, there is something for anyone who
        wants to enjoy astronomy.
      </p>

      <a href="/"><h4>Learn more</h4></a>
    </section>

    <figure class="sub-info__img">
      <img
        src="../../../assets/iphonex218x432.png"
        alt="iPhone Smartphone"
        height="432"
        width="216"
      />

      <figcaption class="offscreen">An iPhone Smartphone</figcaption>
    </figure>
  </section>
  <div class="border"></div>
  <!-- END OF SUB-INFO -->

  <section class="section__post xl-max-width">
    <section class="post__data">
      <figure class="post-img">
        <img
          src="../../../assets/placeholder290x200.png"
          alt="placeholder image"
          height="200"
          width="290"
        />
        <figcaption class="offscreen">An Placeholder Image</figcaption>
      </figure>

      <time>01 MAY 2023</time>
      <h3>Heading</h3>
      <p>
        Moment in the life of any aspiring astronomer of that it is time to buy
        that first telescope.
      </p>
      <section class="post__view-comment">
        <figure class="views-comment-layout">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 5C7 5 2.73 8.11 1 12.5C2.73 16.89 7 20 12 20C17 20 21.27 16.89 23 12.5C21.27 8.11 17 5 12 5ZM12 17.5C9.24 17.5 7 15.26 7 12.5C7 9.74 9.24 7.5 12 7.5C14.76 7.5 17 9.74 17 12.5C17 15.26 14.76 17.5 12 17.5ZM12 9.5C10.34 9.5 9 10.84 9 12.5C9 14.16 10.34 15.5 12 15.5C13.66 15.5 15 14.16 15 12.5C15 10.84 13.66 9.5 12 9.5Z"
              fill="#969696"
            />
          </svg>
          <p>7.4k</p>
        </figure>

        <figure class="views-comment-layout">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M20 6H19V14C19 14.55 18.55 15 18 15H6V16C6 17.1 6.9 18 8 18H18L22 22V8C22 6.9 21.1 6 20 6ZM17 11V4C17 2.9 16.1 2 15 2H4C2.9 2 2 2.9 2 4V17L6 13H15C16.1 13 17 12.1 17 11Z"
              fill="#969696"
            />
          </svg>
          <p>31</p>
        </figure>
      </section>
    </section>
    <!-- Post Date Placeholder Delete Later -->
    <section class="post__data">
      <figure class="post-img">
        <img
          src="../../../assets/placeholder290x200.png"
          alt="placeholder image"
          height="200"
          width="290"
        />
        <figcaption class="offscreen">An Placeholder Image</figcaption>
      </figure>

      <time>01 MAY 2023</time>
      <h3>Heading</h3>
      <p>
        Moment in the life of any aspiring astronomer of that it is time to buy
        that first telescope.
      </p>
      <section class="post__view-comment">
        <figure class="views-comment-layout">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 5C7 5 2.73 8.11 1 12.5C2.73 16.89 7 20 12 20C17 20 21.27 16.89 23 12.5C21.27 8.11 17 5 12 5ZM12 17.5C9.24 17.5 7 15.26 7 12.5C7 9.74 9.24 7.5 12 7.5C14.76 7.5 17 9.74 17 12.5C17 15.26 14.76 17.5 12 17.5ZM12 9.5C10.34 9.5 9 10.84 9 12.5C9 14.16 10.34 15.5 12 15.5C13.66 15.5 15 14.16 15 12.5C15 10.84 13.66 9.5 12 9.5Z"
              fill="#969696"
            />
          </svg>
          <p>7.4k</p>
        </figure>

        <figure class="views-comment-layout">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M20 6H19V14C19 14.55 18.55 15 18 15H6V16C6 17.1 6.9 18 8 18H18L22 22V8C22 6.9 21.1 6 20 6ZM17 11V4C17 2.9 16.1 2 15 2H4C2.9 2 2 2.9 2 4V17L6 13H15C16.1 13 17 12.1 17 11Z"
              fill="#969696"
            />
          </svg>
          <p>31</p>
        </figure>
      </section>
    </section>

    <section class="post__data">
      <figure class="post-img">
        <img
          src="../../../assets/placeholder290x200.png"
          alt="placeholder image"
          height="200"
          width="290"
        />
        <figcaption class="offscreen">An Placeholder Image</figcaption>
      </figure>

      <time>01 MAY 2023</time>
      <h3>Heading</h3>
      <p>
        Moment in the life of any aspiring astronomer of that it is time to buy
        that first telescope.
      </p>
      <section class="post__view-comment">
        <figure class="views-comment-layout">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 5C7 5 2.73 8.11 1 12.5C2.73 16.89 7 20 12 20C17 20 21.27 16.89 23 12.5C21.27 8.11 17 5 12 5ZM12 17.5C9.24 17.5 7 15.26 7 12.5C7 9.74 9.24 7.5 12 7.5C14.76 7.5 17 9.74 17 12.5C17 15.26 14.76 17.5 12 17.5ZM12 9.5C10.34 9.5 9 10.84 9 12.5C9 14.16 10.34 15.5 12 15.5C13.66 15.5 15 14.16 15 12.5C15 10.84 13.66 9.5 12 9.5Z"
              fill="#969696"
            />
          </svg>
          <p>7.4k</p>
        </figure>

        <figure class="views-comment-layout">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M20 6H19V14C19 14.55 18.55 15 18 15H6V16C6 17.1 6.9 18 8 18H18L22 22V8C22 6.9 21.1 6 20 6ZM17 11V4C17 2.9 16.1 2 15 2H4C2.9 2 2 2.9 2 4V17L6 13H15C16.1 13 17 12.1 17 11Z"
              fill="#969696"
            />
          </svg>
          <p>31</p>
        </figure>
      </section>
    </section>

    <section class="post__data">
      <figure class="post-img">
        <img
          src="../../../assets/placeholder290x200.png"
          alt="placeholder image"
          height="200"
          width="290"
        />
        <figcaption class="offscreen">An Placeholder Image</figcaption>
      </figure>

      <time>01 MAY 2023</time>
      <h3>Two Long Line header example for web project.</h3>
      <p>
        Moment in the life of any aspiring astronomer of that it is time to buy
        that first telescope.
      </p>
      <section class="post__view-comment">
        <figure class="views-comment-layout">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 5C7 5 2.73 8.11 1 12.5C2.73 16.89 7 20 12 20C17 20 21.27 16.89 23 12.5C21.27 8.11 17 5 12 5ZM12 17.5C9.24 17.5 7 15.26 7 12.5C7 9.74 9.24 7.5 12 7.5C14.76 7.5 17 9.74 17 12.5C17 15.26 14.76 17.5 12 17.5ZM12 9.5C10.34 9.5 9 10.84 9 12.5C9 14.16 10.34 15.5 12 15.5C13.66 15.5 15 14.16 15 12.5C15 10.84 13.66 9.5 12 9.5Z"
              fill="#969696"
            />
          </svg>
          <p>7.4k</p>
        </figure>

        <figure class="views-comment-layout">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M20 6H19V14C19 14.55 18.55 15 18 15H6V16C6 17.1 6.9 18 8 18H18L22 22V8C22 6.9 21.1 6 20 6ZM17 11V4C17 2.9 16.1 2 15 2H4C2.9 2 2 2.9 2 4V17L6 13H15C16.1 13 17 12.1 17 11Z"
              fill="#969696"
            />
          </svg>
          <p>31</p>
        </figure>
      </section>
    </section>
    <!-- Post Date Placeholder Delete Later -->
  </section>
  <div class="border"></div>
  <!-- END OF POST -->

  <section class="section__newsletter center xl-max-width">
    <h2>Two line header example</h2>
    <p>
      Moment in the life of any aspiring astronomer of that it is time to buy
      that first.
    </p>

    <form action="" class="section__newsletter-form">
      <input type="email" placeholder="Email" class="form-input" />
      <button class="sub-button"><h4>Subscribe</h4></button>
    </form>

    <p>
      No spam, notifications only about new products, updates and freebies. You
      can always unsubscribe.
    </p>
  </section>
</section>
